/*-------------------- Chat --------------------*/
.chat {
    position: absolute;
    bottom: -230px;
    right: -130px;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80vh;
    max-height: 500px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

    .chat.show {
        display: flex;
    }

    .chat.hide {
        display: none;
    }

/*-------------------- Chat Title --------------------*/
.chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
}

    .chat-title h1, .chat-title h2 {
        font-weight: normal;
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .chat-title h2 {
        color: rgba(255, 255, 255, .5);
        font-size: 8px;
        letter-spacing: 1px;
    }

    .chat-title .avatar {
        position: absolute;
        z-index: 1;
        top: 8px;
        left: 9px;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 2px solid rgba(255, 255, 255, 0.24);
    }

        .chat-title .avatar img {
            width: 100%;
            height: auto;
        }

.chat .user-name {
    border: none;
    outline: none;
}

/*-------------------- Messages --------------------*/
.messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, .5);
    overflow: hidden;
    position: relative;
    width: 100%;
}

    .messages .messages-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 101%;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

/*-------------------- Message Box --------------------*/
.message-box {
    flex: 0 1 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
}

    .message-box .message-input {
        background: none;
        border: none;
        outline: none !important;
        resize: none;
        color: rgba(255, 255, 255, .7);
        font-size: 11px;
        height: 17px;
        margin: 0;
        padding-right: 20px;
        width: 190px;
        overflow: hidden;
    }

    .message-box .message-submit {
        position: absolute;
        z-index: 1;
        top: 9px;
        right: 70px;
        color: #fff;
        border: none;
        background: #248a52;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1;
        padding: 6px 10px;
        border-radius: 10px;
        outline: none !important;
        transition: background 0.2s ease;
    }

        .message-box .message-submit:hover {
            background: #1d7745;
        }

    .message-box .close-chat {
        position: absolute;
        z-index: 1;
        top: 9px;
        right: 10px;
        color: #fff;
        border: none;
        background: #8a2424;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1;
        padding: 6px 10px;
        border-radius: 10px;
        outline: none !important;
        transition: background 0.2s ease;
    }

        .message-box .close-chat:hover {
            background: #6a1c1c;
        }

.chat .btn-add-user {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 10px;
    color: #fff;
    border: none;
    background: #248a52;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    transition: background 0.2s ease;
}